

.github-org-card {
  display: inline-flex;
  width: 100%;
  color: var(--ifm-font-color-base);
  background-color: var(--ifm-card-background-color);
  border-radius: var(--ifm-card-border-radius);
  padding: var(--ifm-card-vertical-spacing) var(--ifm-card-horizontal-spacing);
  margin-bottom: var(--ifm-spacing-horizontal) !important;
}

.github-org-card:hover {
  color: var(--ifm-font-color-base);
  text-decoration: inherit;
  box-shadow: var(--ifm-global-shadow-md);
}

.github-org-card h3 {
  margin-bottom: 0;
  line-height: 32px;
}

.github-org-card p {
  margin-bottom: 0;
  font-size: 14px;
}

.github-org-card__image {
  overflow: hidden;
  margin-right: var(--ifm-card-horizontal-spacing);
}

.github-org-card__image img {
  width: 60px;
  float: left;
}

.github-org-card__content p {
  color: var(--ifm-font-color-secondary);
}